.page__container{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap:0rem
    }
    
    .active__page{
    background-color: blueviolet;
    border: none;
    }

    .number{
        margin: 6px;
        border-radius: 6px;
        background: #202020;
        max-width: auto;
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 6px;
        color: whitesmoke;

    }


    .active__page{

        margin: 6px;
        border-radius: 6px;
        background: #202020;
        max-width: auto;
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 6px;
        background: lighten(#202020, 3%);
  position: relative;
    }

    .prev{
        display: block;
        font-size: 13px;
        padding: 0 6px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px;
        border-radius: 6px;
    }